/target/classes/interfacesegregation/breakprinciple/Animal.class
/target/classes/interfacesegregation/compliant/Animal.class
/target/test-classes/animaltest/Animal.class
/target/classes/bribe/Bribe.class
/target/test-classes/bribe/BribeTest.class
/target/classes/ocp/breakpriniciple/Cashback.class
/target/classes/ocp/compliant/Cashback.class
/target/classes/interfacesegregation/breakprinciple/Cat.class
/target/classes/sushinori/scheduler/ChefScheduler.class
/target/test-classes/sushinori/ChefSchedulerTest.class
/target/classes/javaquestions/ClassC.class
/target/classes/javaquestions/ClassD.class
/target/classes/ocp/compliant/ClothesCashback.class
/target/classes/arraysitem/ContainsArray.class
/target/classes/interfacesegregation/breakprinciple/Dog.class
/target/test-classes/animaltest/Dog.class
/target/classes/ocp/compliant/EletronicsCashback.class
/target/classes/binarysearch/FirstAndLastOccurrenceOccurrence.class
/target/classes/ocp/compliant/GiftCardCashback.class
/target/classes/interfacesegregation/compliant/ICat.class
/target/classes/interfacesegregation/compliant/IDog.class
/target/classes/javaquestions/InterfaceA.class
/target/classes/javaquestions/InterfaceB.class
/target/classes/Intervals.class
/target/classes/binarysearch/KeyExpression.class
/target/classes/sushinori/orders/MainOrder.class
/target/classes/MergeArray.class
/target/test-classes/OCRSolution.class
/target/classes/ocp/breakpriniciple/ProductType.class
/target/classes/repeatedstring/RepeatedString.class
/target/test-classes/repeatedstring/RepeatedStringTest.class
/target/classes/reversestring/ReverseStringMain.class
/target/classes/codility/Solution.class
/target/test-classes/Solution.class
/target/test-classes/Solution2.class
/target/classes/sushinori/orders/SushiItem.class
/target/classes/sushinori/orders/SushiOrder.class
/target/classes/sushinori/orders/SushiOrderManager.class
/target/classes/TwoSum.class
/target/classes/valleysmountains/Valleys.class
/target/test-classes/valleysmountains/ValleysTest.class
/target/*
